body {
    background-color: BLACK;
    color: white;
}
.name{
    text-align: center;
    color:  rgb(211, 41, 41);
    margin-bottom: 48px;
}
.scale{
    padding: 24px;
    margin-left:120px;
    width: 700px;
    height:500px;
    position: relative;
    right: 1px;
}

.u{
    display: flex;
}
html{
    font-size:large;
    scroll-behavior: smooth;
}
.primechanie{
    font-size: small;
    font-weight: lighter;
}
.u img{
    width:500px;
    height:500px;
}
.b{
    display:flex ;
    justify-content:center ;
    align-items: center;
    text-decoration: none;
    color: #807b7b;
    margin: 15px;
    width:200px;
    height:80px;
    border-radius: 12px;
    background-color: rgb(83, 8, 8);
    transition: 1s;

}
.b:hover{
    transform: scale(1.1);
    background-color:rgb(117, 13, 13); 
    color:  rgb(189, 186, 186);
}
.q{
    display: flex;
    justify-content:center ;   
}
.Name1{
    color:rgb(116, 12, 12);
    font-size: xx-large;
}
.Name{
    color:rgb(175, 13, 13);
    font-size: larger;
}
.kartochka{
    border-radius: 12px;
    border-style: solid;
    border-color: #ce2121;
    padding:12px;
    margin: 24px;
    display: flex;
    justify-items: center;
    background-color: #1a1818;

}
.scale1{
    padding: 24px;
    transition: 1s;
}
.scale1:hover{
    transform: scale(1.05);
}
html{
    margin: 420px;
    margin-top: 90px;
    margin-bottom: 12px;
}
.text{
    position: relative;
    top:210px;
}
@media (min-width: 1920px) {
    html{
        margin: 220px;
        margin-top: 90px;
        margin-bottom: 12px;
    }
    .scale{
        width: 50%;
    }
  }