
@media (min-width:1920px){
body {
    background-color: BLACK;
    color: white;
}
.drochenos{
    margin-left:340px;
}
.igolochki{
    margin-left:235px;
}
.clown{
    margin-left: 235px;
    
}
.gitar {
    margin-left:235px;
}
.gitar_2{
    margin-left:100px;
}
.pevun{
    margin-left:160px;
}
.ban{
    margin-left:510px;
}
.bas{
    margin-left:340px;
}
.barabani{
    margin-left:410px;
}
.bass{
    margin-left:510px;
}
.sid{
    margin-left:100px;
}
.name{
    text-align: center;
    color:  rgb(211, 41, 41);
    
}
.scale{
    position: relative;
    border-radius: 48px;

}
.albomu{
    display: flex;
}
html{
    font-size:large;
    scroll-behavior: smooth;
}
.primechanie{
    font-size: small;
    font-weight: lighter;
}
.albomu img{
    width:500px;
    height:500px;
}
.b{
    display:flex ;
    justify-content:center ;
    align-items: center;
    text-decoration: none;
    color: #807b7b;
    margin: 15px;
    width:200px;
    height:80px;
    border-radius: 12px;
    background-color: rgb(83, 8, 8);
    transition: 1s;

}
.b:hover{
    transform: scale(1.1);
    background-color:rgb(117, 13, 13); 
    color:  rgb(189, 186, 186);
}
.q{
    display: flex;
    justify-content:center ;   
}
.Name1{
    color:rgb(116, 12, 12);
    font-size: xx-large;
    
}
.Name{
    color:rgb(201, 157, 157);
    font-size: larger;
}
.kartochka{
    border-radius: 12px;
    border-style: solid;
    border-color: #ce2121;
    padding:12px;
    margin: 24px;
    background-color: #1a1818;
    display: flex;


}
.scale1{
    padding: 24px;
    transition: 1s;
}
.scale1:hover{
    transform: scale(1.05);
}
html{
    margin: 420px;
    margin-top: 90px;
    margin-bottom: 12px;
}

}
































@media (min-width: 1440px) {
    
    body {
        background-color: BLACK;
        color: white;
    }
    .name{
        text-align: center;
        color:  rgb(211, 41, 41);
        margin-bottom: 48px;    
    }
    .albomu{
        display: flex;
    }
    .ban{
        margin-left: 510px;
    }
    .bas{
        margin-left:340px;
    }
    .bass{
        margin-left:510px;
    }
    .barabani{
        margin-left:410px;
    }
    html{
        font-size:large;
        scroll-behavior: smooth;
        margin: 6px;
    }
    .primechanie{
        font-size: small;
        font-weight: lighter;
    }
    .scale{
        padding: 24px;
        margin-left:120px;
        width: 700px;   
        height: 500px;
        margin:6px;
    
    }
    .Name1{
        color:rgb(116, 12, 12);
        font-size: xx-large;
    }
    .Name{
        color:rgb(175, 13, 13);
        font-size: larger;
    }
    .q{
        display: flex;
        justify-content:center ;   
    }
    .kartochka{
        border-radius: 12px;
        border-style: solid;
        border-color: #ce2121;
        padding:12px;
        margin:36px;
        display: flex;
        justify-items: center;
        background-color: #1a1818;
    
  }
  .text{
    position: relative;
    top:210px;
 }
 .scale1{
    padding: 24px;
    transition: 1s;
}
.scale1:hover{
    transform: scale(1.05);
}
.albomu img{
    width:500px;
    height:500px;
}
.b{
    display:flex ;
    justify-content:center ;
    align-items: center;
    text-decoration: none;
    color: #807b7b;
    margin: 15px;
    width:200px;
    height:80px;
    border-radius: 12px;
    background-color: rgb(83, 8, 8);
    transition: 1s;

}
.b:hover{
    transform: scale(1.1);
    background-color:rgb(117, 13, 13); 
    color:  rgb(189, 186, 186);
}   

}

